*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&display=swap');
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  /* font-family: "Manrope", sans-serif; */

  body{


    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color:hsl(210, 46%, 95%);
  }
  .container{
    width: 735px;
    height: 284px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 50px auto;
    background-color:white;

  }
  .drawers{
    width: 290px;
    height: 284px;
    border-radius: 10px 0 0 10px;
    display: inherit;
    /* background-size: cover; */

  }
  .right{
    padding: 20px;
  }
  .right h4{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color: hsl(217, 19%, 35%);
  }
  .right p{
    color: hsl(212, 23%, 69%);
    margin-bottom: 18px;
    line-height: 1.4;
    letter-spacing: 0.8px;
  }
  .bottom{
    display: flex;
    /* justify-content: space-between; */
  }
  .bottom .avatar{
    width: 15%;
    border-radius: 50%;
    margin-right: 20px;

   
  }
  .bottom div{
    margin-top: 20px;
    margin-right: 150px;

  }
  .bottom h5{
    font-size: 15px;
    color: hsl(217, 19%, 35%);
    margin-bottom: 5px;
  }
  .share{
    background-color:hsl(210, 46%, 95%) ;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    margin-top: 25px;

  }